@import url(http://fonts.googleapis.com/css?family=Catamaran:900);

body {
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  background-color: #fffeff;
}

h1 {
  font-size: 5vw;
  font-weight: bold;
  margin: 0;
  color: #444444;
}

i {
  color: #ca4bb4;
  margin-right: .8vw;
}

.fa {
  font-size: 4vw !important;
}

#content {
  width: 100vw;
  height: 100vh;
}

#headshot {
  margin: 0 2vw 0 5vw;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#headshot-img {
  width: 20vw;
  height: 20vw;
  float: left;
  background-image: url('img/headshot2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: 0px 0px;
}

#info {
  float: left;
  position: relative;
  clear: none;
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  .fa {
    font-size: 20px !important;
  }

  i {
    margin-right: 4px;
  }

  #headshot {
    margin: 0 12px 0 22px;
  }

  #headshot-img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  .fa {
    font-size: 40px !important;
  }

  i {
    margin-right: 8px;
  }

  #headshot {
    margin: 0 20px 0 50px;
  }

  #headshot-img {
    width: 200px;
    height: 200px;
  }
}
