@import url(http://fonts.googleapis.com/css?family=Catamaran:900);

body {
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  background-color: #fffeff;
}

h1 {
  font-size: 3vw;
  font-weight: bold;
  margin: 0;
  color: #444444;
}

i {
  color: #ca4bb4;
  margin-right: .8vw;
}

.fa {
  font-size: 2vw !important;
}

.fa-circle {
  font-size: 1vw !important;
}

#content {
  width: 100vw;
  height: 100vh;
}

#headshot {
  margin: 0 2vw 0 5vw;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#headshot-img {
  width: 15vw;
  height: 15vw;
  float: left;
  background-image: url('img/headshot2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: 0px 0px;
}

#info {
  float: left;
  position: relative;
  clear: none;
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
